body {
    color: white;
    background-color: rgb(190, 200,220);
}

#myName{
	color: rgb(50, 55,100);
	font-family: 'Homemade Apple', cursive;
	font-size: 38px;
	text-align: center;
	background-color: rgb(158,167,195);
	display: block;
	margin-right: 50px;
	margin-left: 50px;
}
